<!-- app/views/posts/index.html.erb -->
<div class="grid grid-cols-2 md:grid-cols-5 gap-4 p-4">
  <% @posts.each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>
</div>

<script>
    function openModal(modalId) {
        document.getElementById(modalId).style.display = 'block';
    }

    function closeModal(modalId) {
        document.getElementById(modalId).style.display = 'none';
    }
</script>






